{% extends 'bootstrap3/bootstrap3.html' %}

{% block bootstrap3_title %}
    {% block title %}{% endblock %}
{% endblock %}

{% block bootstrap3_content %}
    {% block header %}
        {% include 'base/header.html' %}
    {% endblock %}
    {% block container %}{% endblock %}
    {% block footer %}
        {% include 'base/footer.html' %}
    {% endblock %}
{% endblock %}

{% block bootstrap3_extra_script %}
    <script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
{% endblock %}
